<?xml version="1.0"?>
<launch>
<!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find tatiana_nexus)/urdf/robot.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- Spawn the robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0 -y 0 -z 0.5" />
  
</launch>
